.login-container {
    width: 400px;
    padding: 20px;
    background-color: var(--backgroundColour);
    display: inline-block;
    text-align: center;
    border-radius: 23px;
}

.login-container input {
    border: none;
    background-color: #C4C4C4;
    padding: 8px;
    margin: 12px;
    font-size: 20px;
}

.login-container button {
    color: var(--primary);
    background-color: var(--fourth);
    border: none;
    border-radius: 23px;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    margin: 8px;
}