.login-container {
    width: 400px;
    padding: 20px;
    background-color: var(--backgroundColour);
    display: inline-block;
    text-align: center;
    border-radius: 23px;
}


.login-container 

img {
    color: var(--primary);
    width: 96px;
    margin: 12px;
}