:root {
    --primary: #2B6670;
    --secondary: #637E90;
    --third: #77A7B0;
    --fourth: #E5F2F0;
    --backgroundColour: #E5E5E5;
}

.main-header {
    background-color: var(--primary);
    color: white;
    margin: 0px;
    padding: 24px 16px;
}

.main-header h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: bold;
}

.subheading {
    color: var(--third);
    font-size: 32px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 20px;
}

.content-container {
    text-align: center;
}

input {
    border: none;
    background-color: #C4C4C4;
    
    padding: 12px;
    margin: 12px;
    
    font-size: 16px;

    width: 80%;
}

button {
    color: var(--primary);
    background-color: var(--fourth);
    border: none;
    border-radius: 23px;
    
    font-size: 20px;
    font-weight: bold;

    padding: 12px;
    margin: 8px;
}