.incident-table {
    border-collapse: collapse;
    width: 100%;
}

.incident-table, .incident-table td, .incident-table th {
    border: 1px solid var(--primary);
    padding: 10px;
}

.incident-table th {
    background: white;
    color: var(--primary);
    font-weight: 300;
    text-align: center;
}

.incident-table tbody tr:nth-child(odd){
    background-color: rgba(99, 126, 144,0.3);
}

.incident-table tbody tr:nth-child(even){
    background-color: white;
}

.incident-table tbody tr td .clickable {
    cursor: pointer;
}